@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
}

span{
    color: #0044ff;
}

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: rgba(0, 68, 255, 0.397);
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.frase{
    color: white;
}

.frase::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0044ff;
    transition: all 0.3s ease;
}

.frase:hover::after{
    width: 70%;
}

.dropdown {
    position: relative;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 226px;
    z-index: 1;
    background-color: #18181B;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover{
    color: #0044ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#teste
{
    font-weight: 700;
    color: white;
    font-size: 4.15rem;
    letter-spacing: -7px;
    margin-left: -440px;
    margin-top: 2px;
}

 
.nav-logo{
    max-width: 100px;
}

.nav-logo h1{
    
}
 
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -50px;
    margin-top: -30px
}
 
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}
 
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0044ff;
    transition: all 0.3s ease;
}
 
.link a:hover::after{
    width: 70%;
}
 
h2{
    font-size: 150%;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
 
.resposta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


 
input{
    background: rgba(41, 41, 41, 0.479);
    width: 310px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}
 

textarea{
    background: rgba(41, 41, 41, 0.479);
    border: none;
    margin-left: 13px;
    font-size: 20px;
    padding-left: 10px;

}
 
body{
    min-height: 100.5vh;
    background-color: #18181B;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato{
    font-size: 150%;
}
 
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
}
 
.edicoes{
    min-height: 500px;
    max-width: 450px;
    background: rgba(0,0,0,0.01);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.537);
    border-radius: 2rem;
    margin: 1rem 1rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: white;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.edicoes:hover{
    background: radial-gradient(rgba(0, 0, 0, 0.8), var(--main-color));
    z-index: 0;
    border: none;
 
}
 
edicoes:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.03);
    border-radius: 2rem;
    background: linear-gradient(to top right, blue);
    z-index: -1;
}
 
 
.info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
 
h1{
    bottom: 3rem;
    margin-top: -10px;
    font-size: 400%;
    color: white;
    margin-left: 20px;
    /* text-align: center; */
}
 
.ratting{
    margin-bottom: 230px;
}

button{
    background: none;
    border: none;
    margin-top: 20px;
}
 
.btn{
    display: inline-block;
    padding: 15px 35px;
    background: #0044ff;
    box-shadow: 0 0 25px #0044ff;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
 
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #0044ff;
}
 

.footer{
    padding: 5px 0;
    background-color: black;
}
.row{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #1d4ed8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #1d4ed8;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
 
.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}



 
@media(max-width: 1050px){
    .wrapper{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
        margin: 5rem 0;
    }
 
    /* h1{
 
    } */
}