@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #18181B;
}
 
html{
    width: 100%;
}


section{
    min-height: 20vh;
    padding: 10rem 9% 10rem;
    margin-top: -200px;
}

img{
    width: 300px;
}
 
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    /* margin-top: -50px; */
}
 
.container{
    width: 1800px;
    margin-left: 50px;
}

h1{
    color: #0044ff;
    font-size: 500%;
    font-family: "Poppins", sans-serif;
}
 
hr{
    opacity: 30%;
    /* color: red; */
}
 
p{
    font-size: 110%;
    color: white;
    font-family: "Poppins", sans-serif;
}
 
h2{
    color: #0044ff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
 
ul li{
    color: white;
    font-family: "Poppins", sans-serif;
}
 
#foto{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    border-radius: 25%;
    box-shadow: 0 0 25px #0044ff;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px #0044ff,
                0 0 30px #0044ff,
                0 0 50px #0044ff;
}
 
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    color: white;
}
 
span{
    color: #0044ff;
    font-family: "Poppins", sans-serif;
}

h1{
    font-family: "Poppins", sans-serif;
}

.botao{
    margin-top: 50px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    background-color: #0044ff;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 110%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.botao a{
    text-decoration: none;
    color: white;
}
    
 
.pre-curriculo{
    display: flex;
    justify-content: center;
    font-size: 250%;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}




/* HEADER */
nav{
    max-width: 1200px;
    margin-top: -65px;
    margin-left: 120px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.frase{
    color: white;
}

.frase::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0044ff;
    transition: all 0.3s ease;
}

.frase:hover::after{
    width: 70%;
}

.dropdown {
    position: relative;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 226px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover{
    color: #0044ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#teste {
    font-weight: 700;
    color: white;
    font-size: 4.15rem;
    letter-spacing: -7px;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-top: 60px;
}

#teste:hover {
    text-decoration: none !important;
}
 
.nav-logo{
    max-width: 100px;
}

.nav-links a{
    font-size: 16px;
    /* margin-left: -150px; */
}
 
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links li a{
    margin-left: -480px;
}

.nav-links li{
    margin-right: 50px;
    margin-top: 60px;
}
 
.link a{
    position: relative; 
    padding-bottom: 0.75rem;
    color: #fff;
    text-decoration: none;
}
 
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #0044ff;
    transition: all 0.3s ease;
}
 
.link a:hover::after{
    width: 70%;
}
 #link3 a{
    text-decoration: none!important;
 }

 #link1 a{
    margin-right: 450px;
 }




@media only screen and (max-width: 576px) {
    section{
        display: flex;
        flex-direction: column;
        padding: 5rem 4% 5rem;
    }

    #foto{
        margin-left: -20px;
    }

    .container{
        width: 390px;
        margin-left: 5px;
    }

    .pre-curriculo{
        font-size: 180%;
        margin-bottom: 40px;
    }

    .sobre{
        width: 350px;
    }
}